<html>
    <head>
        <title>
            Task Manager
        </title>

        <script src="https://kit.fontawesome.com/37c6d4056e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
        <body>
            <div class="app-container-div">
            <h1> Task Manager App</h1>
            <form action="/create-task" method="POST">
                <div class = "description">
                    <p> Description</p>
                    <input type="text" name = "name" placeholder="What needs to be done?" required>
                </div>
                <div class="cat-date-container">
                    <div id="category">
                        <p>Category</p>
                        <select  name="category">
                            <optgroup label="Select Table">
                                <option value="">Choose a category</option>
                                <% for (let i of category) { %>
                                <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </optgroup>
                        </select>
                    </div>
                    <div id="dueDate">
                        <p> Due Date</p>
                        <input type="date" name="date" placeholder="dd/mm/yyyy" min=0>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit"> <i class="fas fa-plus"></i> Add Task</button>
                    <label for="delete">
                        <div>
                            <i class="fas fa-trash-alt"></i>
                            Delete Task
                        </div>
                    </label>
                </div>
            </form>

            <form action="/delete-task" method="POST">
                <div id="task-list">
                    <% for (let i of task) { %> 
                        <input type="checkbox" value="<%= i.id %>" name = "task">
                        <label for= "<%= i.id %>">
                            <div id="task-details">
                                <p><%= i.name %></p>
                                <div id="<%= i.category %>"><p><%= i.category %></p></div>
                            </div>
                            <p id="dueDate"><i class="fas fa-calendar-alt"></i> <%= i.dueDate %></p><br>
                        </label>  
                    <% } %>
                </div>
                <input type="submit" id="delete" hidden>
            </form>
        </div>
    </body>
</html>